# Ignore Python virtual environment
venv/
auto_commit_push.sh
# Ignore log files
#*.log

# Ignore __pycache__ folders and Python cache files
__pycache__/
*.py[cod]

# Ignore system files (optional)
.DS_Store
cron.log
